#title {
    margin: 0;
    color: black;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 30px;
}

#mainInfoDiv {
    width: 100%;
    height: 100px;
}

.block {
    display: block;
    margin: auto;
}

#ingredientDiv, #stepDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#ingredientList, #stepList {
    flex: 1;
    align-self: stretch;
}

/*Buttons*/
.Button {
    text-align: center;
}

.addingButton {
    margin: 20px auto;
    border: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.addingButton:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#submitRecipeButton {
    margin: 20px auto;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #4caf4f;
    font-size: 1em;
    color: white;
}

#submitRecipeButton:hover {
    background-color: #429a45;
    cursor: pointer;
}



